:root {
  --white: #ffffff;
  --black: #000000;
  --dark-charcoal: #2e2f32;
  --onyx: #19191a;
  --grey: #7d7d7d;
  --dove-gray: #666666;
  --medium-gray: #898989;
  --light-gray: #d9d9d9;
  --wild-grey: #f7f7f7;
  --sonic-silver: #747474;
  --dim-gray: #636363;
  --light-blue-gray: #96a0be;
  --smoke: #e8e8e8;
  --white-smoke: #f5f5f5;
  --silver-chalice: #e3e3e3;
  --anti-flash-white: #f0f0f0;
  --red: #f44335;
  --dark-red: #8e2d26;
}
